@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901&display=swap');

* {
  @apply font-satoshi text-[#212121]
}

html {
  scroll-behavior: smooth;
}

nav > a {
  @apply py-[8px] px-[20px] rounded-[8px]
}

img {
  user-select: none;
  -webkit-user-drag: none;
}
.active {
  background-color: #dedede60;
}